div .top {
  text-align: center;
  background-color: #f0e6fa;
}

div .center {
  text-align: center;
}

.font2 {
  color: purple;
  font-weight: bold;
  padding-top: 4rem;
  font-size: .75rem;
}

.pic {
  margin-left: 7.5rem;
}

.a {
  margin-left: 4rem;
}

.big {
  font-size: 1.75rem;
  font-weight: 650;
  padding-bottom: 5rem;
}

.bold {
  margin-top: 5rem;
  font-weight: 650;
}

.bigLess {
  font-size: 2rem;
  font-weight: 500;
  padding-bottom: 0rem;
  padding-top: 5rem;
}

.quote {
  font-size: 1rem;
}

.statement {
  margin-left: 2rem;
  padding-bottom: "40px";
}

.statement h3 {
  margin-bottom: 1rem;
  text-align: left;

}

.statement p {
  text-align: left;
}

.person {
  height: 15rem;
  width: 15rem;
}

div .card {
  border: transparent;
  text-align: center;
  margin: 2rem;
}

.card1 {
  margin-left: 4.5rem;
  margin-right: 2rem;
}

.card2 {
  margin-right: 2rem;
}

.card .name {
  font-weight: bold;
  margin-top: .5rem;
}

.card4 {
  margin-left: 15rem;
  margin-right: 3rem;
}
