html {
  background-color: #F0E6FA;
}

.mainpage {
  background-color: #F0E6FA;
}

h1 {
  text-align: center;
  margin-left: 2rem;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

p {
  text-align: center;
}

div .center {
  text-align: center;
}

div .Cards {
  margin-left: 12.5em;
  margin-right: auto;
}

.row {
  margin: 1rem;
}

.col1 {
  margin-right: 3em;
}

.col2 {
  margin-right: 3em;
}

.bottomcard {
  margin-left: 22em;
  padding-bottom: 3rem;
}
