html {
  background-color: #F0E6FA;
}

.mainpage {
  background-color: #F0E6FA;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

div .center {
  text-align: center;
}

div .Cards {
  margin-left: 25em;
  margin-right: auto;
}
