
input {
  height: 2rem;
  border: 0;
  outline: none;
}

img {
  width: 32px;
  height: 32px;
}


/*
.searchbar {
  position: relative;
  display: flex;
  min-width: 100px;
}

.searchbar #icon1 {
  position: absolute;
  width: 5px;
  height: 5px;
}
*/
