body{
  margin: 0px;
}

.main{
  font-family: 'Avenir';
  color: var(--light-black);
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 60px 0;

}

.main > * {
  width: 35%;
}

.text{
  display: flex;
  flex-direction: column;
  height: 185px;
  justify-content: space-evenly;


}


.title{
  font-size: 36px;
  font-weight: bolder;
}

.desc{
  font-size: 16px;
  color: var(--light-text);
}

.learn-more {
  display: flex;
  align-items: center;
  color: var(--primary-purple);
  text-decoration: none;

}

a > span{
  padding-right: 5px;
}

.display-img{
  width: 540px;
  height: 440px;
  border-radius: 40px;

}


@media screen and (max-width: 800px) {

  .main{
    flex-direction: column;
  }

  .text{
    margin-bottom: 30px;
  }

  .main > * {
    width: 80%;
  }


  .display-img{
    width: 80%;
    height: 65%;
  }

}
